<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>FGO Drop Summary</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="resources/css/styles.css">
	</head>

	<body>
	<div id="app">

		<nav class="navbar navbar-inverse remove-margin">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FGO NA <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="active"><a href="#">Drop Rate Summary</a></li>
						<li><a href="#">EXP Calculator (TBC)</a></li>
					</ul>
				</div>
				
				<div class="navbar-collapse collapse" id="myNavbar">

					<ul class="nav navbar-nav">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Links <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1CK-VBf0tqd2S0r4BpXkyJbo2YRmixvhBlrqFba74zRE/edit">My Drop Rate Summary</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1_SlTjrVRTgHgfS7sRqx4CeJMqlz687HdSlYqiW-JvQA/view">Grand Order Drop Rates</a></li>
		            <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1V2iDoN2HjafZ8Ube6Jgi0woIibY-Di3YxLMZdJ6quTA/edit">Event Resources</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a target="_blank" href="http://fate-go.cirnopedia.org/index.php">Cirnopedia</a></li>
		            <li><a target="_blank" href="http://fategrandorder.wikia.com/wiki/Fate/Grand_Order_Wikia">FGO Wikia</a></li>
		          </ul>
		        </li>
		      </ul>

					<p class="navbar-text navbar-right">Created by /atruong18</p>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<nav class="navbar-fixed-bottom visible-lg-block">
			<div class="container nav-bot-link">
				<span v-for="(item, index) in items">
					<a v-bind:href="'#t-'+index" class="remove-padding"><img v-bind:src="item.imageUrl" class="item-img-sm"/></a>
				</span>
			</div>
		</nav>

		<!-- MAIN STUFF-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-12">
					<table class="table table-responsive table-condensed table-striped" style="background-color: white">
						<thead>
							<tr>
								<th>Item</th>
								<th>Area</th>
								<th>Quest</th>
								<th>AP Cost</th>
								<th>AP per Drop</th>
								<th>Drop Rate</th>
							</tr>
						</thead>
						<tbody>
							<template v-for="(item, index) in items">
								<tr v-bind:id="'t-'+index">
									<td><img v-bind:src="item.imageUrl" class="item-img-lg"/></td>
									<td>
										<div v-for="(loc, index) in item.dropLoc">{{loc.area}}</div>
									</td>
									<td>
										<div v-for="(loc, index) in item.dropLoc">{{loc.quest}}</div>
									</td>
									<td>
										<div v-for="(loc, index) in item.dropLoc">{{loc.ap}}</div>
									</td>
									<td>
										<div v-for="(loc, index) in item.dropLoc">{{loc.apPerDrop}}</div>
									</td>
									<td>
										<div v-for="(loc, index) in item.dropLoc">{{loc.dropRate}}%</div>
									</td>
								</tr>
								<tr>
									<td colspan="6">
										<div id="accordion" role="tablist">
											<div class="panel panel-default">
												<div class="panel-heading" role="tab">
													<a role="button" data-toggle="collapse" data-parent="#accordion" v-bind:href="'#s-'+index">
														<h4 class="panel-title">Servants</h4>
													</a>
												</div>
												<div class="panel-collapse collapse" role="tabpanel" v-bind:id="'s-'+index">
													<div class="panel-body">
														<img class="img-responsive" style="display: initial;" v-show="item.servants" v-bind:src="item.servants"/>
													</div>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</template>
						</tbody>
					</table>
				</div>
			</div>

		</div> <!-- end container-fluid-->

	</div>
	</body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="resources/js/index.js"></script>

</html>
